# System configuration
system_type = "qemu"

# This is the full path to the directory you want to store disk images in
disk_path = "/var/disks"

# This is the full path to the directory you want to store xml configs in
config_path = "/var/configs"

# Path to ISOs
image_path = "/var/images"

# MySQL db infos
username = "justausername"
password = "justapassword"
database = "justadbname"
hostname = "justanip"

# The username and password for the basic auth prompt on the site
ba_username = "justausername"
ba_password = "justapassword"

