{% extends 'frame.html' %}
{% block title %}Space - Edit IP ({{ ip[0]['ip'] }}){% endblock %}
{% block content %}
<h3>Edit IP {{ ip[0]['ip'] }}</h3>
<p>This will allow you to edit the record for this IP address. Rebuild DHCP configuration to push changes.</p>
<form action="/ip/edit/{{ ip[0]['_id'] }}" method="post" data-toggle="validator" role="form">
    <div class="form-group">
        <label class="control-label">IP Address</label>
        <input class="form-control" type="text" name="address" placeholder="Address" value="{{ ip[0]['ip'] }}" required/>
    </div>
    <div class="form-group">
        <label class="control-label">Netmask (Non-CIDR)</label>
        <input class="form-control" type="text" name="netmask" placeholder="Netmask" value="{{ ip[0]['netmask'] }}" required/>
        <span class="help-block">The non-CIDR representation of the subnet mask for this IP.</span>
    </div>
    <div class="form-group">
        <label class="control-label">Server ID</label>
        <input class="form-control" type="text" name="server_id" placeholder="Server ID" value="{{ ip[0]['server_id'] }}" required/>
        <span class="help-block">The ID of the server this IP is assigned to (if any).</span>
    </div>
    <input type="submit" value="Edit" class="btn btn-success"/>
</form>
{% endblock %}
