{% extends 'frame.html' %}
{% block title %}Space - Edit {{ image.name }}{% endblock %}
{% block content %}
<h3>Edit Image ({{ image[0]['name'] }})</h3>
<p>This will allow you to update the records associated with this image. Please note, editing this information will <strong>not</strong> change the image its self.</p>
<form action="/image/edit/{{ image[0]['_id'] }}" method="post" data-toggle="validator" role="form">
    <div class="form-group">
        <label class="control-label">Image Name</label>
        <input class="form-control" type="text" name="name" value="{{ image[0]['name'] }}" required/>
        <span class="help-block">The name of the image.</span>
    </div>
    <div class="form-group">
        <label class="control-label">Image Path</label>
        <input class="form-control" type="text" name="path" value="{{ image[0]['path'] }}" required/>
        <span class="help-block">The full path to this image on your filesystem.</span>
    </div>
    <div class="form-group">
        <label class="control-label">Image Size (MB)</label>
        <input class="form-control" type="text" name="size" value="{{ image[0]['size'] }}" required/>
        <span class="help-block">The size of this image in MB.</span>
    </div>
    <input class="btn btn-success" type="submit" value="Edit"/>
</form>
{% endblock %}
