{% extends 'grid.html' %}
{% block title %}Space - Edit {{ server.name }}{% endblock %}
{% block content %}
<h3>Edit - {{ server.name }}</h3>
<p>This just updates the DB for now.</p>
<p>States: 0 = off, 1 = running, 3 = destroyed</p>
<form action="/edit/{{ server.id }}" method="post">
    Name: <input class="form-control" type="text" name="name" value="{{ server.name }}"/><br/>
    RAM: <input class="form-control" type="text" name="ram" value="{{ server.ram }}"/><br/>
    VCPU: <input class="form-control" type="text" name="vcpu" value="{{ server.vcpu }}"/><br/>
    Disk Size: <input class="form-control" type="text" name="disk_size" value="{{ server.disk_size }}"/><br/>
    Image: <input class="form-control" type="text" name="image" value="{{ server.image }}"/><br/>
    State: <input class="form-control" type="text" name="state" value="{{ server.state }}"/><br/>
    <div class="checkbox"><label><input type="checkbox" name="push" value="1">Push to VM (this will restart the VM)</label></div>
    <input class="btn btn-success" type="submit" value="Edit"/>
</form>

<h3>Events</h3>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Type</th>
        <th>Date</th>
    </tr>
    {% for event in events %}
    <tr>
        <td>{{ event.id }}</td>
        <td>{% if event.type == 1 %}Create{% elif event.type == 2 %}Destroy{% elif event.type == 3 %}Boot{% elif
        event.type == 4 %}Shutdown{% elif event.type == 5 %}VM is inconsistent{% endif %}</td>
        <td>{{ event.date }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
