{% extends 'frame.html' %}
{% block title %}Space - Edit {{ server.name }}{% endblock %}
{% block content %}
<h2>{{ server[0]['name'] }}</h2>
<hr/>
<h3>Status & Options</h3>
<table class="table">
    <tr>
        <td>State</td>
        <td>{% if server[0]['state'] == 1 %}<span class="label label-success">On</span>
            {% elif server[0]['state'] == 0 %}<span class="label label-danger">Off</span>
            {% else %}<span class="label label-default">Destroyed</span>{%endif %}</td>
    </tr>
    <tr>
        <td>Actions</td>
        <td>
            {% if server[0]['state'] == 1 %}
            <a href="/shutdown/{{ server[0]['_id'] }}" class="btn btn-danger btn-xs">Shutdown</a>&nbsp;
            <a href="/reboot/{{ server[0]['_id'] }}" class="btn btn-warning btn-xs">Reboot</a>&nbsp;
            <a href="/console/{{ server[0]['_id'] }}" class="btn btn-primary btn-xs">Console</a>&nbsp;
            {% elif server[0]['state'] == 0 %}
            <a href="/start/{{ server[0]['_id'] }}" class="btn btn-success btn-xs">Start</a>&nbsp;
            {% endif %}
            <a href="/destroy/{{ server[0]['_id'] }}" class="btn btn-danger btn-xs">Destroy</a>&nbsp;            
            <a href="/redefine/{{ server[0]['_id'] }}" class="btn btn-warning btn-xs">Redefine</a>&nbsp;

        </td>
    </tr>
</table>
<hr/>
<h3>Configuration</h3>
<p>You can modify all of the settings related to the server here. If you want the changes to be pushed to the server, be sure to check the box at the bottom. If you do not want to push the changes immediately, push them at your convenience using the <a href="/redefine/{{ server[0]['_id'] }}">redefine</a> option.</p>
<form action="/edit/{{ server[0]['_id'] }}" method="post" data-toggle="" role="form">
    <div class="form-group">
        <label class="control-label">Name</label>
        <input class="form-control" type="text" name="name" value="{{ server[0]['name'] }}" required/>
        <span class="help-block">The name of your server.</span>
    </div>
    <div class="form-group">
        <label class="control-label">MAC Address</label>
        <input class="form-control" type="text" name="mac_address" value="{{ server[0]['mac_address'] }}"/>
        <span class="help-block">The MAC address of your server. This is obtained automatically, it is not recommended you change this unless you know what you are doing.</span>
    </div>
    <div class="form-group">
        <label class="control-label">RAM (MB)</label>
        <input class="form-control" type="text" name="ram" value="{{ server[0]['ram'] }}"/>
        <span class="help-block">The amount of RAM allocated to your server.</span>
    </div>
    <div class="form-group">
        <label class="control-label">vCPU Count</label>
        <input class="form-control" type="text" name="vcpu" value="{{ server[0]['vcpu'] }}"/>
        <span class="help-block">The number of virtual VPU's allocated to your server.</span>
    </div>
    <div class="form-group">
        <label class="control-label">Disk Size (GB)</label>
        <input class="form-control" type="text" name="disk_size" value="{{ server[0]['disk_size'] }}"/>
        <span class="help-block">The amount of storage space allocated to your server. Changing this will not resize your disk currently.</span>
    </div>
    <div class="form-group">
        <label class="control-label">Disk Path</label>
        <input class="form-control" type="text" name="disk_path" value="{{ server[0]['disk_path'] }}"/>
        <span class="help-block">The full path to your server's disk image.</span>
    </div>
    <div class="form-group">
        <label class="control-label">Distribution ISO</label>
        <select class="form-control" name="image">
            {% for image in images %}
                <option value="{{ image['name'] }}" {% if server[0]['disk_image'] == image['name'] %}selected{% endif %}>{{ image['name'] }}</option>
            {% endfor %}
        </select>
        <span class="help-block">The distribution ISO your server will boot with if not booting in to the server's disk image.</span>
    </div>
    <div class="form-group">
        <label class="control-label">State</label>
        <select class="form-control" name="state">
            <option value="0" {% if server[0]['state'] == 0 %}selected{% endif %}>Powered Off</option>
            <option value="1" {% if server[0]['state'] == 1 %}selected{%endif %}>Running</option>
            <option value="3" {% if server[0]['state'] == 3 %}selected{% endif %}>Destroyed</option>
        </select>
        <span class="help-block">The current state of the server.</span>
    </div>
    <div class="form-group">
        <div class="checkbox" class="form-control"><label><input type="checkbox" name="push" value="1">Push to server (this will restart the server)</label></div>
    </div>
    <input class="btn btn-success" type="submit" value="Edit"/>
</form>
<hr/>
<h3>Storage</h3>
<p>This option will allow you to increase the size of your server's disk. This will reboot the server.</p>
<form action="/edit/{{ server[0]['_id'] }}/resize" method="post" data-toggle="validator" role="form">
    <div class="form-group">
        <p>Current Disk Size: {{ server[0]['disk_size'] }} GB</p>
        <label class="control-label">Change Disk Size</label>
        <input type="number" name="new_size" class="form-control" required min="{{ server[0]['disk_size'] }}"/>
        <span class="help-block">The resulting size (after the change) in GB. (Must be larger than current disk)</span>
    </div>
    <input class="btn btn-success" type="submit" value="Resize"/>
</form>
<hr/>
<h3>Networking</h3>
<p>You can configure the IP address(es) assigned to your server here. Please note, multiple IP addresses will not work via DHCP - you'll need to configure additional IP addresses manually. Adding an IP address will automatically regenerate the DHCP configuration.</p>
<br/>
<h4>Existing IP Address</h4>
{% if not my_ip %}
<h5>This server does not have an IP.</h5>
<br/>
{% else %}
<table class="table">
    <tr>
        <th>IP Address</th>
        <th>Actions</th>
    </tr>
    <tr>
        <td>{{ my_ip[0]['ip'] }}</td>
        <td><a href="/ip/unassign/{{ my_ip[0]['_id'] }}" class="btn btn-warning">Unassign</a></td>
    </tr>
</table>
{% endif %}

<h4>Assign IP Address</h4>
<form action="/ip/assign/{{ server[0]['_id'] }}" method="post">
    <select name="ip" class="form-control">
        {% for ip in ips %}
        <option value="{{ ip['_id'] }}">{{ ip['ip'] }}</option>
        {% endfor %}
    </select><br/>
    <input type="submit" value="Assign" class="btn btn-success"/>
</form>
<hr/>
<h3>Events</h3>
<table class="table sortable">
    <thead>
    <tr>
        <th>Date</th>
        <th>Completed</th>
        <th>Type</th>
        <th>Status</th>
    </tr>
    </thead>
    {% for event in events %}
    <tr>
        <td>{{ event['date'] }}</td>
        <td>{{ event['complete_date'] }}</td>
        <td>{% if event['type'] == 1 %}Create{% elif event['type'] == 2 %}Destroy{% elif event['type'] == 3 %}Boot{% elif
        event['type'] == 4 %}Shutdown{% elif event['type'] == 5 %}Server is inconsistent{% elif event['type'] == 6 %}Resize{% endif %}</td>
        <td>{% if event['status'] == 0 %}Processing{% else %}Complete{% endif %}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
