{% extends 'grid.html' %}
{% block title %}Space - Edit IP ({{ ip.ip }}){% endblock %}
{% block content %}
<h3>Edit IP {{ ip.ip }}</h3>
<form action="/ip/edit/{{ ip.id }}" method="post">
    Address: <input class="form-control" type="text" name="address" placeholder="Address" value="{{ ip.ip }}"/><br/>
    Netmask: <input class="form-control" type="text" name="netmask" placeholder="Netmask" value="{{ ip.netmask }}"/><br/>
    Server: <input class="form-control" type="text" name="server_id" placeholder="Server ID" value="{{ ip.server_id }}"/><br/>
    <input type="submit" value="Edit" class="btn btn-success btn-xs"/>
</form>
{% endblock %}
