<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{% block title %}Dashboard{% endblock %}</title>
        <link rel="apple-touch-icon" sizes="57x57" href="/static/images/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/static/images/favicons/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/static/images/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/static/images/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/static/images/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/static/images/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/static/images/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/static/images/favicons/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/static/images/favicons/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/static/images/favicons/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/static/images/favicons/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/static/images/favicons/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/static/images/favicons/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/static/images/favicons/android-chrome-manifest.json">
        <link rel="shortcut icon" href="/static/images/favicons/favicon.ico">
        <meta name="msapplication-TileColor" content="#00aba9">
        <meta name="msapplication-TileImage" content="/static/images/favicons/mstile-144x144.png">
        <meta name="msapplication-config" content="/static/images/favicons/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script type="text/javascript" src="/static/js/confirm.js"></script>
<link href="../static/css/bootstrap.min.css" rel="stylesheet"/>
<link href="../static/css/space.css" rel="stylesheet"/>
{% block header %}
{% endblock %}
</head>
<body>
{% include 'navigation.html' %}
<div class="container primary">
    <div class="row">
        {% if error %}
        <div class="col-md-12">
            <div class="alert alert-dismissable alert-danger">
                <h2>Warning!</h2>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
            </div>
        </div>
        {% endif %}
        {% if message %}
        <div class="col-md-12">
            <div class="alert alert-dismissable alert-success">
                <h2>Warning!</h2>
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <strong>Oh snap!</strong> <a href="#" class="alert-link">Change a few things up</a> and try submitting again.
            </div>
        </div>
        {% endif %}
    </div>
{% block content %}
{% endblock %}
<script type="text/javascript" src="/static/js/validator.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/main.js"></script>
<script src='/static/js/moment.min.js'></script>
<script src='/static/js/bootstrap-sortable.js'></script>
</body>
</html>

