{% extends 'grid.html' %}
{% block title %}Space - Host Configuration{% endblock %}
{% block content %}
<h3>Host Configuration</h3>
<p>This page will show you the limitations and statistics for the host (the physical machine) your VM's are running
on.</p>
<form action="/host" method="post">
    Disk Directory: <input type="text" name="disk_directory" value="{{ config['disk_directory'] }}"/><br/>
    Image Directory: <input type="text" name="image_directory" value="{{ config['image_directory'] }}"/><br/>
    Config Directory: <input type="text" name="config_directory" value="{{ config['config_directory'] }}"/><br/>
    <input type="submit"/>
    RAM Total: {{ stat[0]['total_memory'] }}
    RAM Used: {{ stat[0]['memory_used'] }}
    CPU Used: {{ stat[0]['cpu'] }}
    IOWAIT: {{ stat[0]['iowait'] }}
</form>
{% endblock %}
