{% extends 'grid.html' %}
{% block title %}Space - Host Configuration{% endblock %}
{% block content %}
<h3>Host Configuration</h3>
<p>This page will show you the limitations and statistics for the host (the physical machine) your VM's are running
on.</p>
<form action="/host" method="post">
    Hostname: <input type="text" name="hostname" class="form-control" value="{{ host[0]['name'] }}"/><br/>
    RAM Total: <input type="text" name="ram_total" class="form-control" value="{{ host[0]['ram'] }}"/><br/>
    Estimated Remaining RAM: <input type="text" name="estimated_ram" class="form-control" value=""/><br/>
    <input type="submit"/>
    RAM Total: {{ host[0]['memory_total'] }}
    RAM Used: {{ host[0]['memory_free'] }}
    CPU Used: {{ host[0]['cpu_total'] }}
    IOWAIT: {{ host[0]['iowait'] }}
</form>
{% endblock %}
