{% extends 'frame.html' %}
{% block title %}Space - Images{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Local Images</h2>
        </div>
    </div>
</div>
<p>This page will let you manage your images (ISO's) that you can use to create local servers from. To add a new image, upload it to your image directory (specified on the <a href="/settings">settings page</a>). Once the ISO has been uploaded, you can add the image manually using the form below, or use the <a href="/utils/import_images">import images</a> feature to import it automatically.</p>
<hr/>
<div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist" id="tabs">
        <li role="presentation" class="active"><a href="#images" data-toggle="tab">Images</a></li>
        <li role="presentation"><a href="#addimage" data-toggle="tab">Add Image</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active fade in" id="images">
        <h3>Existing Images</h3>
<p>Deleting an image here will <strong>not</strong> remove it from your filesystem, it must be deleted manually.</p>
<table class="table">
    <tr>
        <th>Image Name</th>
        <th>Path</th>
        <th>Size</th>
        <th></th>
    </tr>
    {% for image in images %}
        <tr>
            <td><a href="/image/edit/{{ image['_id'] }}">{{ image['name'] }}</a></td>
            <td>{{ image['path'] }}</td>
            <td>{{ image['size'] }}</td>
            <td><a class="btn btn-danger btn-xs" href="/image/delete/{{ image['_id'] }}" onClick="return confirm('Are you sure you want to delete this image? This action cannot be undone.');">Delete</a></td>
        </tr>
    {% endfor %}
</table>
        </div>
        <div role="tabpanel" class="tab-pane active fade" id="addimage">
<h3>Add New Images</h3>
<p>This will add an image that already exists on your filesystem to the database for use by VM's. The image must be put in the images directory before the image will actually work.</p>
<form action="/images" method="post" data-toggle="validator" role="form">
    <div class="form-group">
        <label for="name" class="control-label">Name of the Image</label>
        <input class="form-control" type="text" name="name" placeholder="Name" required/>
        <span class="help-block with-errors"></span>
    </div>
    <div class="form-group">
        <label for="path" class="control-label">Full Disk Path</label>
        <input class="form-control" type="text" name="path" placeholder="Path" required/>
        <span class="help-block with-errors"></span>
    </div>
    <div class="form-group">
        <label for="size" class="control-label">Disk Size</label>
        <input class="form-control" type="number" name="size" placeholder="Size" required min="1"/>
        <span class="help-block with-errors"></span>
    </div>
    <input class="btn btn-success" type="submit" value="Add"/>
</form>

        </div>
    </div>
</div><!-- tab panel !-->
{% endblock %}
