{% extends 'grid.html' %}
{% block title %}Space - Images{% endblock %}
{% block content %}
<h3>Existing Images</h3>
<table class="table">
    <tr>
        <th>Image Name</th>
        <th>Path</th>
        <th>Size</th>
    </tr>
    {% for image in images %}
        <tr>
            <td><a href="/image/edit/{{ image['_id'] }}">{{ image['name'] }}</a></td>
            <td>{{ image['path'] }}</td>
            <td>{{ image['size'] }}</td>
        </tr>
    {% endfor %}
</table>

<h3>Add New Images</h3>
<form action="/images" method="post">
    <input class="form-control" type="text" name="name" placeholder="Name"/><br/>
    <input class="form-control" type="text" name="path" placeholder="Path"/><br/>
    <input class="form-control" type="text" name="size" placeholder="Size"/><br/>
    <input class="btn btn-success" type="submit" value="Add"/>
</form>
{% endblock %}
