{% extends 'grid.html' %}
{% block title %}Space{% endblock %}
{% block content %}
<h3>VMs</h3>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>RAM</th>
        <th>Disk Size</th>
        <th>Image</th>
        <th>State</th>
        <th>Actions</th>
    </tr>
    {% for server in servers %}
    <tr>
        <td>{{ server.id }}</td>
        <td><a href="/edit/{{ server.id }}">{{ server.name }}</a></td>
        <td>{{ server.ram }}</td>
        <td>{{ server.disk_size }}</td>
        <td>{{ server.image }}</td>
        <td>{% if server.state == 1 %}<p><span class="label label-success">Running</span></p>{% else %}<p><span
        class="label label-danger">Shutdown</span></p>{% endif %}</td>
        <td>{% if server.state == 1 %}<a class="btn btn-warning btn-xs" href="/shutdown/{{ server.id }}">Shutdown</a>&nbsp;{% elif server.state == 0 %}<a class="btn btn-success btn-xs" href="/start/{{ server.id }}">Start</a>&nbsp;{% endif %}<a
        class="btn btn-danger btn-xs" href="/destroy/{{ server.id }}">Destroy</a></td>
    </tr>
    {% endfor %}
</table>

<h3>Make a New VM</h3>
<form action="/create" method="post">
    <input type="text" name="name" placeholder="name"/>
    <input type="text" name="ram" placeholder="ram in mb"/>
    <input type="text" name="disk_size" placeholder="disk size in gb"/>
    <input type="text" name="vcpu" placeholder="VCPUs"/>
    <select name="image">
        {% for image in images %}
        <option value="{{ image.id }}">{{ image.name }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Make it"/>
</form>

<h3>Server Events</h3>
<table class="table">
    <tr>
        <th>Date</th>
        <th>Level</th>
        <th>Message</th>
    </tr>
    {% for event in log %}
    <tr>
        <td>{{ event.date }}</td>
        <td>{{ event.level }}</td>
        <td>{{ event.message }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
