{% extends 'grid.html' %}
{% block title %}Space - IPs{% endblock %}
{% block content %}
<h3>Existing IPs</h3>
<table class="table sortable">
    <tr>
        <th>IP</th>
        <th>Netmask</th>
        <th>Server</th>
        <th>Actions</th>
    </tr>
    {% for ip in ips %}
        <tr>
            <td><a href="/ip/edit/{{ ip['_id'] }}">{{ ip['ip'] }}</a></td>
            <td>{{ ip['netmask'] }}</td>
            <td><a href="/edit/{{ ip['server_id'] }}">{{ ip['server_id'] }}</a></td>
            <td>{% if ip['server_id'] != 0 %}<a href="/ip/unassign/{{ ip['_id'] }}" class="btn btn-danger
            btn-xs">Unassign</a>&nbsp;{% endif %}<a href="/ip/delete/{{ ip['_id'] }}" class="btn btn-danger btn-xs">Delete</a></td>
        </tr>
    {% endfor %}
</table>
<hr/>
<h3>Add New IP</h3>
<form action="/ip" method="post" role="form" data-toggle="validator">
    <div class="form-group">
        <label class="control-label">IP Address</label>
        <input class="form-control" type="text" name="address" placeholder="Address" required/>
        <span class="help-block with-errors"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Netmask (Non-CIDR)</label>
        <input class="form-control" type="text" name="netmask" placeholder="Netmask" required/>
        <span class="help-block with-errors"></span>
    </div>
    <input type="submit" value="Add" class="btn btn-success"/>
</form>
<hr/>
<h3>IP Ranges</h3>
<table class="table sortable">
    <tr>
        <th>Start IP</th>
        <th>End IP</th>
        <th>Subnet</th>
        <th>Netmask</th>
        <th>Gateway</th>
        <th>Actions</th>
    </tr>
    {% for range in ranges %}
    <tr>
        <td>{{ range['startip'] }}</td>
        <td>{{ range['endip'] }}</td>
        <td>{{ range['subnet'] }}</td>
        <td>{{ range['netmask'] }}</td>
        <td>{{ range['gateway'] }}</td>
        <td><a class="btn btn-primary btn-xs" href="/iprange/edit/{{ range['_id'] }}">Edit</a>&nbsp;<a class="btn btn-danger btn-xs" href="/iprange/delete/{{ range['_id'] }}">Delete</a></td>
    </tr>
    {% endfor %}
</table>
<hr/>
<h3>Add New IP Range</h3>
<form action="/iprange" method="post" data-toggle="validator" role="form">
    <div class="form-group">
        <label class="control-label">First IP in Range</label>
        <input class="form-control" type="text" name="startip" placeholder="Start IP" required/>
        <span class="help-block with-errors"></span>
    </div>
    <div class="form-group">    
        <label class="control-label">Last IP in Range</label>
        <input class="form-control" type="text" name="endip" placeholder="End IP" required/>
    </div>
    <div class="form-group">    
        <label class="control-label">Network Address</label>
        <input class="form-control" type="text" name="subnet" placeholder="Subnet" required/>
        <span class="help-block with-errors"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Subnet Mask (Non-CIDR)</label>
        <input class="form-control" type="text" name="netmask" placeholder="Netmask" required/>
        <span class="help-block with-errors"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Gateway Address (Default Gateway)</label>
        <input class="form-control" type="text" name="gateway" placeholder="Gateway" required/>
        <span class="help-block with-errors"></span>
    </div>
    <input type="submit" value="Add" class="btn btn-success"/>
</form>
{% endblock %}
