{% extends 'frame.html' %}
{% block title %}Space - IPs{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Networking</h2>
        </div>
    </div>
</div>
<div class="tabpanel">
    <ul class="nav nav-tabs" role="tablist" id="tabs">
        <li role="presentation" class="active"><a href="#ipaddresses" data-toggle="tab">IP Addresses</a></li>
        <li role="presentation"><a href="#addip" data-toggle="tab">Add IP</a></li>
        <li role="presentation"><a href="#ipranges" data-toggle="tab">IP Ranges</a></li>
        <li role="presentation"><a href="#addiprange" data-toggle="tab">Add IP Range</a></li>
        <li role="presentation"><a href="#options" data-toggle="tab">Options</a></li>
    </ul>
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active fade in" id="ipaddresses">
        <h3>IP Addresses</h3>
        <p>This is a list of existing IP addresses, you can click the IP address to make changes if needed, unassign an address or add a new address.</p>
        <table class="table sortable">
            <thead>
            <tr>
                <th>IP</th>
                <th>Netmask</th>
                <th>Server</th>
                <th>Actions</th>
            </tr>
            </thead>
            {% for ip in ips %}
            <tr>
                <td><a href="/ip/edit/{{ ip['_id'] }}">{{ ip['ip'] }}</a></td>
                <td>{{ ip['netmask'] }}</td>
                <td><a href="/server/edit/{{ ip['server_id'] }}/local">{{ ip['server_id'] }}</a></td>
                <td>{% if ip['server_id'] != 0 %}<a href="/ip/unassign/{{ ip['_id'] }}" class="btn btn-danger btn-xs">Unassign</a>&nbsp;{% endif %}<a href="/ip/delete/{{ ip['_id'] }}" class="btn btn-danger btn-xs" onClick="return confirm('Are you sure you want to delete this IP? This action cannot be undone.');">Delete</a></td>
            </tr>
            {% endfor %}
            </table>
        </div>
        <div role="tabpanel" class="tab-pane active fade" id="addip">
        <h3>Add New IP</h3>
        <p>This will add a new IP address to the pool of available addresses for your servers. Adding individual addresses isn't recommended as adding an IP range will automatically ennumerate the addresses in a given subnet.</p>
        <form action="/ip" method="post" role="form" data-toggle="validator">
            <div class="form-group">
                <label class="control-label">IP Address</label>
                <input class="form-control" type="text" name="address" placeholder="Address" required/>
                <span class="help-block with-errors"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Netmask (Non-CIDR)</label>
                <input class="form-control" type="text" name="netmask" placeholder="Netmask" required/>
                <span class="help-block with-errors"></span>
            </div>
                <input type="submit" value="Add" class="btn btn-success"/>
            </form>
        </div>
        <div role="tabpanel" class="tab-pane active fade" id="ipranges">
            <h3>IP Ranges</h3>
            <p>Add an IP range and the configuration for said range. This is added directly to the DHCP configuration. All IP addresses in a range will be added to IP addresses. Deleting an IP range <strong>will not</strong> delete the individual addresses, editing a range <strong>will not change</strong> existing addresses either.</p>
            <table class="table sortable">
            <tr>
                <th>Start IP</th>
                <th>End IP</th>
                <th>Subnet</th>
                <th>Netmask</th>
                <th>Gateway</th>
                <th>Actions</th>
            </tr>
            {% for range in ranges %}
            <tr>
                <td>{{ range['startip'] }}</td>
                <td>{{ range['endip'] }}</td>
                <td>{{ range['subnet'] }}</td>
                <td>{{ range['netmask'] }}</td>
                <td>{{ range['gateway'] }}</td>
                <td><a class="btn btn-primary btn-xs" href="/iprange/edit/{{ range['_id'] }}">Edit</a>&nbsp;<a class="btn btn-danger btn-xs" href="/iprange/delete/{{ range['_id'] }}" onClick="return confirm('Are you sure you want to delete this IP range? This action cannot be undone.');">Delete</a></td>
            </tr>
            {% endfor %}
            </table>
        </div>
        <div role="tabpanel" class="tab-pane active fade" id="addiprange">
            <h3>Add New IP Range</h3>
<form action="/iprange" method="post" data-toggle="validator" role="form">
    <div class="form-group">
        <label class="control-label">First IP in Range</label>
        <input class="form-control" type="text" name="startip" placeholder="Start IP" required/>
        <span class="help-block with-errors"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Last IP in Range</label>
        <input class="form-control" type="text" name="endip" placeholder="End IP" required/>
    </div>
    <div class="form-group">
        <label class="control-label">Network Address</label>
        <input class="form-control" type="text" name="subnet" placeholder="Subnet" required/>
        <span class="help-block with-errors"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Subnet Mask (Non-CIDR)</label>
        <input class="form-control" type="text" name="netmask" placeholder="Netmask" required/>
        <span class="help-block with-errors"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Gateway Address (Default Gateway)</label>
        <input class="form-control" type="text" name="gateway" placeholder="Gateway" required/>
        <span class="help-block with-errors"></span>
    </div>
            <input type="submit" value="Add" class="btn btn-success"/>
            </form>
        </div>
        <div role="tabpanel" class="tab-pane active fade" id="options">
<h3>Options</h3>
<p>In the event you manually make changes to IP addresses / IP ranges / IP assignments, you can trigger a manual update / restart of DHCP using this option.</p>
<a href="/utils/rebuild_dhcp_config" class="btn btn-warning btn-xs">Rebuild DHCP Configuration</a>
        </div>
    </div><!-- tab content !-->
</div><!-- tab panel !-->
{% endblock %}
