{% extends 'frame.html' %}
{% block title %}Space - Welcome/Setup{% endblock %}
{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/setup.css') }}">
{% endblock %}
{% block content %}
{% block navigation %}{% endblock %}
<div class="logo"><img src="/static/images/logo_login.png"/></div>
<div class="well">
<h2>Setup</h2>
<hr/>
<h3>Welcome to Space!</h3>
<p>Space Panel is a simple control panel that will allow you to control your virtualized machines easily from this web interface. To get started, please complete the configuration options below.</p>
<hr/>
<form action="/setup" method="post" data-toggle="validator" role="form">
<h3>1. The system type</h3>
<p>First, select the distribution on this host.</p>
    <div class="form-group">
        <label class="control-label">Distribution</label>
        <select class="form-control" name="distribution">
            <option value="centos">CentOS</option>
            <option value="debian">Debian</option>
            <option value="ubuntu">Ubuntu</option>
        </select>
    </div>
<p>First, please select the type of hypervisor your machine will be running (KVM or Xen).</p>
    <div class="form-group">
        <label class="control-label">System Type</label>
        <select class="form-control" name="system_type">
            <option value="qemu">QEMU</option>
            <!--<option value="xen">Xen</option>!-->
        </select>
    </div>
<hr/>
<h3>2. The domain name</h3>
<p>Next, enter the domain name this control panel will live at. For example, if you intend to access Space using space.yourdomain.com, enter space.yourdomain.com.</p>
    <div class="form-group">
        <label class="control-label">Domain Name</label>
        <input class="form-control" type="text" name="domain" required/>
        <span class="help-block">This is the domain name used to access this host.</span>
    </div>
<hr/>
<h3>3. Login credentials</h3>
<p>These credentials will be used to log in to Space - please be sure to note your password. The password must be at least 6 characters long.</p>
    <div class="form-group">
        <label class="control-label">Username</label>
        <input class="form-control" type="text" name="username" required/>
    </div>
    <div class="form-group">
        <label class="control-label">Password</label>
        <input id="password1" class="form-control" type="password" name="password1" data-minlength="6" required/>
        <span class="help-block with-errors">Minimum of 6 characters</span>
    </div>
    <div class="form-group">
        <label class="control-label">Confirm Password</label>
        <input class="form-control" type="password" name="password2" data-match="#password1" required/>
        <span class="help-block with-errors"></span>
    </div>
<hr/>
<h3>4. Important directories</h3>
<p>Enter the directories where you would like your disk images, distribution images, and VM configurations stored. Please enter the <strong>full path</strong> on the filesystem.</p>
    <div class="form-goup">
        <label class="control-label">Disk Directory</label>
        <input class="form-control" type="text" name="disk_directory" value="/var/disks" required/>
        <span class="help-block">This is where the VM's disk images will be stored.</span>
    </div>
    <div class="form-group">
        <label class="form-group">Image Directory</label>
        <input class="form-control" type="text" name="image_directory" value="/var/images" required/>
        <span class="help-block">This is where the images (ISO's) will be stored.</span>
    </div>
    <div class="form-group">
        <label class="control-label">Config Directory</label>
        <input class="form-control" type="text" name="config_directory" value="/var/configs" required/>
        <span class="help-block">This is where the VM's configuration files will be stored.</span>
    </div>
<hr/>
<h3>5. Services and other configurations</h3>
<p>Lastly, please configure the following services.</p>
    <div class="form-group">
        <label class="control-label">DHCP Configuration</label>
        <input class="form-control" type="text" name="dhcp_configuration" placeholder="/etc/dhcp/dhcpd.conf"/>
        <span class="help-block">This is the path / name of your DHCP configuration.</span>
    </div>
    <div class="form-group">
        <label class="control-label">DHCP Service</label>
        <input class="form-control" type="text" name="dhcp_service" placeholder="dhcpd"/>
        <span class="help-block">The name of the DHCP service you use. This should be the thing that comes after "service" in a start/restart command.</span>
    </div>
    <div class="form-group">
        <label class="control-label">noVNC Directory</label>
        <input class="form-control" type="text" name="novnc_directory" value="/srv/space/static/noVNC"/>
        <span class="help-block">This is the location of the noVNC files. By default this is located in static in the space directory. If you decide to change it, update it here.</span>
    </div>
    <div class="form-group">
        <label class="control-label">noVNC Certificate</label>
        <input class="form-control" type="text" name="pem_location" value="/srv/space/static/noVNC/YOUR_CERTIFICATE.pem"/>
        <span class="help-block">This is the location of the certificate used by noVNC (pem). By default, this is located in static/noVNC within the space directory.</span>
    </div> 
    <input class="btn btn-success wide" type="submit" value="Complete Setup"/>
</form>
</div>
{% endblock %}
