{% extends 'grid.html' %}
{% block title %}Space - Deleted VMs{% endblock %}
{% block content %}
<h3>Deleted VMs</h3>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>RAM</th>
        <th>Disk Size</th>
        <th>Image</th>
    </tr>
    {% for dom in domains %}
    <tr>
        <td>{{ dom.id }}</td>
        <td><a href="/edit/{{ dom.id }}">{{ dom.name }}</a></td>
        <td>{{ dom.ram }}</td>
        <td>{{ dom.disk_size }}</td>
        <td>{{ dom.image }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
